# Base URL for the Art Institute of Chicago API
VITE_API_BASE_URL=https://api.artic.edu/api/v1

# Replace with your project name and a contact email.
VITE_AIC_USER_AGENT=ctd-pre-work (student@example.com)
